<h2>Cadastrar Eventos</h2>

<form onsubmit="cadastrarEvento();">
  <p>Nome:</p>
  <input type="text" id="nome_evento" required />
  <p>Data:</p>
  <input type="datetime-local" id="data" required />
  <p>Local:</p>
  <input type="text" id="local" required />
  <p>Descrição:</p>
  <textarea id="descricao" required></textarea>
  <button type="submit">Cadastrar</button>
</form>

<script>
  async function cadastrarEvento() {
    const nome_evento = document.querySelector('#nome_evento').value;
    const data = document.querySelector('#data').value;
    const local = document.querySelector('#local').value;
    const descricao = document.querySelector('#descricao').value;

    try {
      const response = await fetch('/api/evento', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ nome_evento, data, local, descricao })
      });

      if (!response.ok) {
        throw new Error('Erro ao cadastrar evento');
      }

      const result = await response.json();
      alert('Evento cadastrado com sucesso!');
      window.location.href = '/';
      console.log(result);
    } catch (error) {
      console.error(error);
      alert('Erro ao cadastrar evento');
    }
  }
</script>
